button.MuiButtonBase-root.MuiButton-root.MuiButton-text.button_style {
    background: #ffd400;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}
/* model css */
.model {
    display: flex;
    align-items: center;
    justify-content: center;
}

.model_div {
    background-color: white;
    width: 90%;
    height: 90%;
}